.photoGallery {
  figure {
    order: 2;
    img { width: 380px; height: 500px; }
  }

  .thumbs {
    order: 1;

    img {
      width: 110px;
      height: 110px;
      border: 1px solid $color--border;
      
      &.active {
        border-color: colors(secundary, base);
      }
    }
  }
}